/********************************************************************
***************************** N O T A *******************************
    Este sitio web esta hecho con 'visual studio code' y 'Firefox'
    como navegador predeterminado. El 'Slider' tiene su propio
    'slider.js' en (scripts) y su 'slider.css' en (css).
    Y es totalmente Responsive - mobile first.
**********************************************************************/

/* importación de fuentes, desde un enlace a una página de la web */
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Calligraffitti);

/*************************************************************
********************* ESTILOS GENERALES **********************
*************************************************************/
* {box-sizing: border-box; margin: 0; padding: 0;}

/* el diseño del scroolbar del html es para mozilla firefox */
html {
    font-size: 16px; scrollbar-color: rgb(255, 255, 255, .9) rgb(0, 0, 0);
    scrollbar-width: thin; scroll-behavior: smooth;
}

/* el diseño del scroolbar del body es para google chrome, microsoft edge y opera */
body {font-family: Georgia, 'Times New Roman', Times, serif; background-color: rgba(255, 255, 255); color: rgba(255, 255, 255);}
body::-webkit-scrollbar {width: 0.4375rem;}
body::-webkit-scrollbar-thumb {background-color: rgb(255, 255, 255); border-radius: 1.25rem;}
body::-webkit-scrollbar-track {background-color: rgb(0, 0, 0);}

.container_general {width: 100%; height: 100%;}

/*
    con 'before'(antes de h1) y 'after'(despues de h1)
    creamos dos elementos para darle más corpulencia al titulo
    he puesto las medidas en 'rem' de before en 4px y las de after
    en 'em' en 5px (me gusta como queda asi).
*/ 
h1::before, h1::after {
    content: ""; display: block; background: transparent; margin: 10px 0;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-bottom: 0.25rem solid rgb(255, 255, 255);
}
h1::after {transform: rotate(-180deg);
}
h1 {font-family: Calligraffitti, sans-serif; font-size: 1.4rem; padding-left: 0.625rem; font-weight: bold;}

/* hago lo mismo que en el h1 anterior, pero en este caso
creo un objeto (lineal) para 'despues' de los h2 */
h2::after {
    content: ""; display: block; width: 9.375rem;
    margin: 0 auto; border-bottom: 0.1875rem solid rgb(0, 0, 0);
}
h2 {text-align: center; font-family: Dosis, sans-serif; color: rgb(0, 0, 0);}

/* para todos los que contienen 'display flex' con estas propiedades */
.display_flex {display: flex; justify-content: center; align-items: center;}

/* para todos los que tienen la misma imagen de fondo */ 
.image_fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url(../assets/images/img_fondos/fondo.jpg); background-size: cover; background-position: bottom;
    background-repeat: no-repeat; background-attachment: fixed;
}

/*************************************************************
********************* ESTILOS HEADER *************************
*************************************************************/
.header {
    width: 100%; position: fixed; top: 0; left: 0; z-index: 1000;
    height: 13vh; display: flex; justify-content: space-between; align-items: center; padding: 0 1%;
}

.container_logo {display: flex; justify-content: center; align-items: center;}
.img_logo {
    width: 4.6875rem; height: 4.6875rem; object-fit: cover; object-position: top;
    border-radius: 50%; border: 0.125rem solid rgb(255, 165, 0);
}
.nav_menu {
    position: fixed; top: 0; left: 0; height: 100vh; width: 100%; margin-left: -100%;
    transition: all .2s linear; background-color: rgba(0, 0, 0, .7); z-index: 100;
}
.nav_menu.show {margin-left: 0;}

.nav_links {
    width: 70vw; height: 100vh; background-color: rgb(255, 255, 255);
}
.container_logo_links {display: flex; justify-content: center; align-items: center; padding: 10% 0;}
.img_logo_links {
    width: 3.125rem; height: 3.125rem; object-fit: cover; object-position: top;
    border-radius: 50%; border: 0.125rem solid rgb(255, 165, 0); margin-right: 2%;
}
.nav_links_flex {display: flex; justify-content: space-around; align-items: flex-start; padding: 5%}
.links_pages, .links_internos {display: flex; justify-content: center; align-items: center; flex-direction: column;}
.separator {width: 0.1875rem; height: 10.625rem; background-color: rgb(255, 165, 0);}
.link_item {font-weight: bold; text-decoration: none; margin: 5% 0; color: rgb(0, 0, 255);}

/* burguer*/
.button_menu{
    z-index: 200; width: 2.5rem; height: 2.5rem;
    border: none; display: flex; background: none; flex-direction: column;
    align-items: center; justify-content: center; cursor: pointer;
}
.button_menu span {
    width: 2.3125rem; height: 0.25rem; margin-bottom: 0.3125rem;
    position: relative; background: rgb(255, 165, 0); border-radius: 0.1875rem;
    transform-origin: 0.25rem 0px; transition: all .2s linear;
}
/* aspas del boton */
.button_menu.close span {opacity: 1; transform: rotate(45deg) translate(0px, 0px); background: rgb(255, 255, 255);}
.button_menu.close span:nth-child(2) {transform: rotate(-45deg) translate(-0.5rem, 0.3125rem);}
.button_menu.close span:nth-child(3) {display: none;}
/* Fin burguer */

/* 'clase', para los links seleccionados de todo el header (esta relacionado con el 'scrool.js' */
.color_select {border-bottom: 0.125rem solid rgb(255, 165, 0);}

/* para los que contienen 'clase' color */
.color {color: rgb(255, 165, 0);}

/* para el background y border de los iconos de los enlaces internos*/
.fondo_enlace {background-color: rgb(255, 255, 255); border-radius: 50%;}
/* END STYLES HEADER */

/*************************************************************
******************* ESTILOS MAIN / SECTIONS ******************
*************************************************************/
section {padding-top: 13vh;}

/* STYLES MAIN SECTION SLIDER */

    /* los estilos del 'slider' estan en su propio archivo 'slider.css' */

/* END STYLES MAIN SECTION SLIDER */

/* STYLES MAIN SECTION PRODUCTOS */
.section_productos {height: 100%; flex-direction: column;}
.container_productos{width: 100%; flex-direction: column; color: rgb(0, 0, 0);}
.aside {
    width: 100%; padding: 5% 1% 20% 1%; margin-top: 5%; flex-direction: column;
    text-align: center; gap: 3.125rem;  color: rgb(255, 255, 255);
}
.aside div {flex-direction: column;}
.container_img_aside {margin-top: 5%; max-width: 25rem; max-height: 37.5rem;}
.aside_img {
    object-fit: cover; width: 100%; height: 100%; border: 0.125rem solid rgb(255, 165, 0);
    border-top-left-radius: 23%; border-bottom-right-radius: 23%; padding: 3%;
}
.aside .borde_hoja {
    width: 100%; margin: 5% auto; background-color: rgb(0, 0, 0, 0.5); font-weight: bold;
    border-top-left-radius: 45%; border-bottom-right-radius: 45%; text-align: center;
    border: 0.125rem solid rgb(255, 165, 0); padding: 3%;
}
.container_cards {
    flex-wrap: wrap; gap: 6.25rem; width: 100%; height: 100%; margin: 0 auto;
    padding: 1.875rem 0.9375rem; padding-bottom: 6.25rem;
}
.cards {
    flex-direction: column; width: 100%; height: 23.125rem;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
    border-top: 0.125rem solid rgb(255, 165, 0);
}
.cards:hover {
    border-top: 0.125rem solid rgb(255, 0, 0);
    border-bottom: 0.125rem solid rgb(255, 0, 0);
    box-shadow: 0.625rem 0.625rem 1.25rem rgb(0, 0, 0, 0.8)
}
.card_img {
    object-fit: contain;object-position: center; width: 100%;
    height: 18.75rem; padding: 0.625rem;
}
.cards_paragraph p {font-size: 16px; width: 100%; text-align: center;}
/* END STYLES MAIN SECTION PRODUCTOS */

/* STYLES MAIN SECTION ABOUT */
.section_about {height: 100%; flex-direction: column;}
.section_about h2::after {
    content: ""; display: block; width: 6.25rem; margin: 0 auto;
    border-bottom: 0.1875rem solid rgb(255, 255, 255);
}
.about {width: 90%; margin: 0 auto; text-align: justify; flex-direction: column;}
.about p {padding: 0.625rem; padding-bottom: 5%; line-height: 1.4rem;}
.about_img {
    width: 12.5rem; height: 12.5rem; object-fit: cover; object-position: center;
    margin: 1.25rem; border-radius: 10%; border: 0.125rem solid rgb(255, 255, 255);
}
/* END STYLES MAIN SECTION ABOUT */

/* STYLES MAIN SECTION NOTICIAS */
.noticias {flex-direction: column; margin-top: 1.25rem; width: 100%;}
#contenedor_noticias {width: 60%; text-align: justify; margin: 0 auto; overflow-x: hidden; color: rgb(0, 0, 0);}
/* END STYLES MAIN SECTION NOTICIAS */


/* STYLES MAIN SECTION SERVICIOS */
.section_servicios {height: 100%; flex-direction: column; margin-bottom: 3.125rem;}
.card_items_service, .cards_service {flex-direction: column;}
.cards_ilustracion {flex-direction: column; text-align: center;}
.cards_ilustracion a {color: rgb(0, 0, 0);}
.cards_ilustracion a:hover {color: rgb(0, 0, 255);}
.img_ilustration {width: 15.625rem; height: 15.625rem;}
/* END STYLES MAIN SECTION SERVICIOS */


/*************************************************************
*********************** ESTILOS FOOTER ***********************
*************************************************************/
footer {width: 100%; height: 100%; padding: 1.25rem; font-family: monospace, sans-serif; font-weight: bold;}
.container_footer {
    display: flex; justify-content: space-evenly; text-align: center;
    flex-wrap: wrap; gap: 1.875rem; flex-direction: column;
}
footer a {text-decoration: none;}
.socials>div>a>img {width: 2rem; height: 2rem; border-radius: 50%; margin-right: 1.25rem;}
.titulos_footer {margin-bottom: 1.25rem;}
.legality a {text-decoration: underline; color: rgb(255, 255, 255)}
.legality a:hover {text-decoration-color: rgb(255, 165, 0);}
.container_copy {text-align: center; margin-top: 1.120rem;}
/* END STYLES FOOTER */

/*************************************************************
************************ MEDIA QUERYS ************************
*************************************************************/
@media screen and (min-width: 768px) {
    /* header */
    .container_logo_links {font-size: 20px; padding: 1%; background-color: rgb(0, 0, 0);}
    .img_logo_links {width: 4.6875rem; height: 4.6875rem;}
    .nav_links_flex {justify-content: space-evenly;}
    /* productos */
    .aside {padding: 5% 0 10% 0;}
    .container_cards {width: 100%; gap: 3.125rem; padding-bottom: 1.25rem;}
    .cards {width: 11.25rem; height: 15.625rem;}
    .card_img {height: 10.625rem;}
    /* servicios */
    .card_items_service {flex-direction: row;}
}
@media screen and (min-width: 1440px) {
    /* header */
    .button_menu, .container_logo_links, .separator {display: none;}
    .container_logo {width: 25%;}
    .nav_menu {position: static; margin-left: 0; width: 100%; height: 100%; z-index: 0; background: none;}
    .nav_links {height: 100%; width: 100%; background: none;}
    .nav_links_flex {
        flex-direction: row; justify-content: flex-start;
        align-items: center; width: 100%; height: 100%; padding: 0;
    }
    .links_pages, .links_internos {flex-direction: row; gap: 5%; width: 100%; height: 100%;}
    .link_item:hover {opacity: 0.6;}
    .link_item {color: rgb(255, 255, 255);}
    /* productos */
    .aside {
        padding: 0 0 3.75rem 0; flex-direction: row;
        justify-content: space-evenly; padding-top: 1.875rem; margin-top: 2%;
    }
    .container_cards {padding-bottom: 3.125rem;}
    .cards {width: 20%; height: 380px; margin-top: 3.75rem;}
    .card_img {width: 100%; height: 17.5rem;}
    /* about */
    .about {width: 70%;}
    /* servicios */
    .cards_service {flex-direction: row; gap: 3.125rem;}
}
@media screen and (min-width: 1600px) {
    /* productos */
    .aside {margin-top: 2%;}
    .card_img {width: 90%;}
    .cards_image {text-align: center; background: transparent;}
    /* about */
    .about {width: 55%;}
}